*{
    box-sizing: border-box;
}
body{
    font-family: monospace;
    margin: 15px 30px;
    font-size: 17px;
    padding : 8px;
}

.container{
    background-color: #ececec;
    padding: 5px 20px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(167, 67, 67);
    border-radius: 5px;
    margin: 10px;
}

fieldset{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.main_heading{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.second_heading{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.third_heading{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
    background-color: rgb(212, 62, 36);
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    
}

.button:hover{
    background-color: rgb(117, 43, 30);
}